.score {
  color: blue;
}

#timer {
  color: red;
}

.game-area {
  border: 1px solid black;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.game-section {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 100%;
  width: 100%;
}

.road {
  background-color: black;
  display: flex;
}

.lanes {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 100%;
}

.left-lane {
  border-right-style: dotted;
  border-right-width: 4px;
}

.right-lane {
  border-left-style: none;
}

.road-side {
  background-color: green;
}

.red-car {
  width: 120px;
}
